@import "tailwindcss";

@theme {
  --color-primary: #e52a3b;
  /* Primary (Blue) */
  --color-primary-hover: #c1202f;
  /* Darker Blue */

  --color-secondary: #FFCC91;
  /* Secondary (Purple) */
  --color-secondary-hover: #E5B87F;
  /* Darker Purple */

  --color-danger: #b91c1c;
  /* Danger (Red) */
  --color-danger-hover: #B52B3A;
  /* Darker Red */

  --color-success: #28A745;
  /* Success (Green) */
  --color-success-hover: #218838;
  /* Darker Green */

  --color-warning: #FFC107;
  /* Warning (Yellow) */
  --color-warning-hover: #E0A800;
  /* Darker Yellow */

  --color-dark: #1C1D22;
  /* Dark (Gray-Black) */
  --color-dark-hover: #23272B;
  /* Darker Gray-Black */

  --color-light: #F8F9FA;
  /* Light (Gray-White) */
  --color-light-hover: #E2E6EA;
  /* Darker Light Gray */


}

:root {
  --color-primary: rgb(229, 42, 59) !important;
  --color-primary-hover: rgb(193, 32, 47) !important;
  --color-secondary: rgb(255, 204, 145) !important;
  --color-secondary-hover: rgb(229, 184, 127) !important;
  --color-danger: rgb(185, 28, 28) !important;
  --color-danger-hover: rgb(181, 43, 58) !important;
  --color-success: rgb(40, 167, 69) !important;
  --color-success-hover: rgb(33, 136, 56) !important;
  --color-warning: rgb(255, 193, 7) !important;
  --color-warning-hover: rgb(224, 168, 0) !important;
  --color-dark: rgb(28, 29, 34) !important;
  --color-dark-hover: rgb(35, 39, 43) !important;
  --color-light: rgb(248, 249, 250) !important;
  --color-light-hover: rgb(226, 230, 234) !important;
}