@import "tailwindcss";

@theme {
  --color-primary: #e52a3b;
  /* Primary (Blue) */
  --color-primary-hover: #c1202f;
  /* Darker Blue */

  --color-secondary: #FFCC91;
  /* Secondary (Purple) */
  --color-secondary-hover: #E5B87F;
  /* Darker Purple */

  --color-danger: #b91c1c;
  /* Danger (Red) */
  --color-danger-hover: #B52B3A;
  /* Darker Red */

  --color-success: #28A745;
  /* Success (Green) */
  --color-success-hover: #218838;
  /* Darker Green */

  --color-warning: #FFC107;
  /* Warning (Yellow) */
  --color-warning-hover: #E0A800;
  /* Darker Yellow */

  --color-dark: #1C1D22;
  /* Dark (Gray-Black) */
  --color-dark-hover: #23272B;
  /* Darker Gray-Black */

  --color-light: #F8F9FA;
  /* Light (Gray-White) */
  --color-light-hover: #E2E6EA;
  /* Darker Light Gray */

  --color-grey-1: #f7f5f5;
  --color-grey-2: #BEC0CA;
  --color-grey-3: #5E6366;
  --color-grey-4: #53545C;
  --color-green: #519C66;
  --color-red: #CC5F5F;
  --color-blue: #899df8;
  --color-yellow: #949057;


}

html {
  font-size: 75%;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

.room-container {
  /* page-break-before: c; */
  page-break-inside: avoid;
}


:root {
  --color-primary: rgb(229, 42, 59) !important;
  --color-primary-hover: rgb(193, 32, 47) !important;
  --color-secondary: rgb(255, 204, 145) !important;
  --color-secondary-hover: rgb(229, 184, 127) !important;
  --color-danger: rgb(185, 28, 28) !important;
  --color-danger-hover: rgb(181, 43, 58) !important;
  --color-success: rgb(40, 167, 69) !important;
  --color-success-hover: rgb(33, 136, 56) !important;
  --color-warning: rgb(255, 193, 7) !important;
  --color-warning-hover: rgb(224, 168, 0) !important;
  --color-dark: rgb(28, 29, 34) !important;
  --color-dark-hover: rgb(35, 39, 43) !important;
  --color-light: rgb(248, 249, 250) !important;
  --color-light-hover: rgb(226, 230, 234) !important;
  --color-grey-1: #f7f5f5 !important;
  --color-grey-2: #BEC0CA !important;
  --color-grey-3: #5E6366 !important;
  --color-grey-4: #53545C !important;
  --color-green: #519C66 !important;
  --color-red: #CC5F5F !important;
  --color-blue: #899df8 !important;
  --color-yellow: #FFD700 !important;
}

.status-قيد-الانتظار {
  /* background-color: var(--color-success); */
  color: var(--color-yellow);
  font-weight: bold;
}

.status-جاري {
  /* background-color: var(--color-success); */
  color: var(--color-blue);
  font-weight: bold;
}

.status-تم-الاستلام {
  /* background-color: var(--color-success); */
  color: var(--color-green);
  font-weight: bold;
}

.status-مرتجع {
  /* background-color: var(--color-success); */
  color: var(--color-red);
  font-weight: bold;
}

.status-مقفل {
  /* background-color: var(--color-success); */
  color: var(--color-dark);
  font-weight: bold;
}

.status-active {
  /* background-color: var(--color-success); */
  color: var(--color-green);
  font-weight: bold;
}

.status-in-active {
  /* background-color: var(--color-success); */
  color: var(--color-dark);
  font-weight: bold;
}



@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

.spinner {
  margin: 4.8rem auto;
  width: 6.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #e52a3b 94%, rgba(0, 0, 0, 0)) top/10px 10px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, #e52a3b);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 10px), #000 0);
  animation: spinner 1.5s infinite;
}